# pixi environments
.pixi
*.egg-info

# magic environments
.magic

# subrepo directories
2015/lib/*
2025/lib/libuv/*

# pixi environments
.pixi/*
!.pixi/config.toml

# local builds
*.txt~
*.f90~
*.cpp~
*.R~
